.options-container {
    background-color: var(--grey-container-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--grey-container-border-color);
    height: 20rem;
    width: 40rem;
}

.circle-btn {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    background-color: var(--grey-input-container-color);
    border-width: 1px;
    height: 3rem;
    width: 3rem;
    font-size: 1.5em;
    margin-bottom: 5rem;
}