input {
    margin: 1rem 1rem 2rem 0.5rem;
    padding: 0.6rem 5rem 0.6rem 0.5rem;
    border-style: solid;
    border-color: var(--grey-input-container-color);
    font-size: 1rem;
}

input:hover {
    background-color: #c4c4c4;
}

input:focus {
    outline-color: #797979;
}

.input-non-selected-color {
    background-color: var(--grey-input-container-color);
}

.input-selected-color {
    background-color: var(--selected-option-color);
    border-style: solid;
    border-color: var(--selected-option-border-color);
}

.options-container {
    background-color: var(--grey-container-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey-container-border-color);
    width: 30rem;
}

.circle-btn {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn {
    background-color: var(--grey-input-container-color);
    border-width: 1px;
    height: 3rem;
    width: 3rem;
    font-size: 1.5em;
    margin-bottom: 5rem;
}

.add-option-btn {
    background-color: var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1.7em;
    position: relative;
    bottom: 1em;
    margin: 0;
}

.add-option-btn:hover {
    background-color: var(--button-hover-color);
}

.add-option-btn:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.option-flex {
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: rgb(94, 94, 94);
    margin-right: 0.5em;
  }
  
  .delete-btn:hover {
    color: black;
  }