h1 {
    margin: 5rem 0 10rem 0;
}

h2 {
    line-height: 3rem;
}

.main-container {
    margin: 0 5rem 0 5rem;
}

.pg-routes-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem 10rem;
}

.pg-grid-item:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.pg-grid-item:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.pg-grid-item:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.pg-grid-item:nth-child(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

@media (max-width: 800px)  {
    .pg-routes-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 2rem 0;
    }

    .pg-grid-item:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }
    
    .pg-grid-item:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
    }
    
    .pg-grid-item:nth-child(3) {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
    }
    
    .pg-grid-item:nth-child(4) {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
    }
}