h2 {
    margin-bottom: 10rem;
}

.top-container {
    margin: 5rem 0 0 3rem;
}

.pick-option-main-container {
    display: flex;
    justify-content: center;
    margin: 0 5rem 0 5rem;
}

.choose-btn {
    margin-top: 5rem;
}