:root {
  --bg-color--: #CBA1FF;
  --button-color--: #C17AC7;
  --grey-container-color--: #F3F3F3;
  --grey-container-border-coloer--: #A4A4A4;
  --grey-input-container-color--: #D9D9D9;
  --input-placeholder-color--: #9D9D9D;
  --selected-option-color--: #50D944;
  --selected-option-border-color--: #00AE1C;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h2 {
  font-weight: lighter;
}

.bg-shape {
  position: absolute;
  z-index: -1;
  top: 0;
}
