:root {
  --bg-color: #CBA1FF;
  --button-color: #C17AC7;
  --button-hover-color: #9e4ea5;
  --grey-container-color: #F3F3F3;
  --grey-container-border-color: #A4A4A4;
  --grey-input-container-color: #D9D9D9;
  --input-placeholder-color: #9D9D9D;
  --selected-option-color: #50D944;
  --selected-option-border-color: #00AE1C;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
}

button:hover {
  cursor: pointer;
}

/* Background SVG*/

.bg-shape {
  position: absolute;
  z-index: -1;
  top: 0;
}

/* Global button styling */

.btn {
  background-color: var(--button-color);
  font-size: 1.3em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  position: relative;
  top: 0;
  transition: top ease 0.3s, background-color ease-in 0.3s, box-shadow ease-in 0.3s;
}

.btn:hover {
  background-color: var(--button-hover-color);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  top: -8px;
}

.btn:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
